* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#particles-js{
    background:#2d394c;
    height: 1000px;
}


body {

}

.navbar{
    background-color: #484b4f !important;
}

.navbar-brand {
    color: #e8edf4 !important;
    background-color: #484b4f !important;

}

.nav-link {
    color: #e8edf4 !important;

}
.nav-item {
    text-align: right !important;
    color: #e8edf4 !important;
}

#showcase h1{
    margin-bottom: 20px;
}

#showcase img{
    width: 50%;
    margin-bottom: 150px;
}

#showcase .showcase-right{
    margin-top: 80px;
}

#circle {
        border-left: 2px solid #444444 !important;
        border: 2px solid #444444 !important;
        border-radius: 200px !important;
        width: 200px !important;
        height: 200px !important;
       }

footer {
    padding: 10px;
    background:#484b4f;
    color: #fff;
}

#portfolio {
    padding-top: 100px;
    background:#2d394c;
    height: 1100px;
    color: #fff;
}

.info-right {
    padding-top: 50px;
    text-align: center;
}

#home {
    text-align: center;
    font-size: 40px;
}

.landing {
    padding: 40px;
    background: #fff;
    opacity: 0.7;
    border: #ccc 2px solid;
    position: absolute;
    margin-left: 40%;
    margin-top: 20%;
}

.linked {
    width:10%;
    height:5%;
}

#showcase {
    padding-top: 100px;
    padding-bottom: 200px;
}

#button {
    margin-left: 30px;
}

.btn-secondary {
    background-color:#484b4f !important;
}